body {
  margin: 0; padding: 0;
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: hidden;
  /* cursor: url('../data/green_dot.png'), auto; */
}

#content {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.scaleBar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.zoomButton {
  position: absolute;
  top: 60px;
  left: 20px;
}

.counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  text-shadow: 0 0 20px rgb(255, 255, 255);
  font-family: 'Courier New', monospace;
  font-size: 148%;
  font-weight: bold;
}
.counter p {
    margin-bottom: 0;
}

.centerDiv {
  flex-wrap: wrap;
  position: absolute;
  top: 25%;
  width: 100%;
  height: auto;
  justify-content: center;
  font-family: 'Courier New', monospace;
}
.welcomeBox {
  width: 40%;
  height: 100%;
  padding: 20px 20px 60px 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.fileInput {
  display: flex;
  position: relative;
  top: 20px;
  width: 100%;
  justify-content: flex-end;
}
input[type='file'] {
  display: none;
}
.customFileInput {
  width: 50px;
  height: 50px;
  margin-right: 32%;
  border-radius: 4px;
  background: rgb(220, 220, 220);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  background-image: svg-load('icons/upload.svg', fill: rgb(0, 0, 0));
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.ioeLogoBig {
  position: relative;
  width: 120px;
  height: auto;
  margin: 26px 0 -26px 0;
}
.ioeLogoBig a {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: svg-load('icons/ioe_logo.svg', fill: rgb(160, 160, 160));
}

.button {
  width: 60px;
  height: 30px;
  padding: 4px;
  margin: 4px 8px;
  border: none;
  border-radius: 4px;
  background: rgb(220, 220, 220);
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Monaco', monospace;
  font-size: 90%;
  cursor: pointer;
}
.button:focus {outline: none;}

.playbackOptions {
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}
#play {
  background-size: 32px;
  background-image: svg-load('icons/play.svg', fill: rgb(40, 40, 40));
}
#pause {
  background-size: 32px;
  background-image: svg-load('icons/pause.svg', fill: rgb(40, 40, 40));
}
#replay {
  background-size: 24px;
  background-image: svg-load('icons/replay.svg', fill: rgb(40, 40, 40));
}
#winOff {
  background-size: 24px;
  background-image: svg-load('icons/window.svg', fill: rgb(120, 120, 120));
}
#winOn {
  background-size: 24px;
  background-image: svg-load('icons/window.svg', fill: rgb(0, 0, 0));
}
#recOff {
  background-size: 24px;
  background-image: svg-load('icons/record.svg', fill: rgb(120, 120, 120));
}
#recOn {
  background-size: 24px;
  background-image: svg-load('icons/record.svg', fill: rgb(255, 0, 0));
}
#markersOff {
  background-size: 18px;
  background-image: svg-load('icons/marker.svg', fill: rgb(120, 120, 120));
}
#markersOn {
  background-size: 18px;
  background-image: svg-load('icons/marker.svg', fill: rgb(0, 0, 0));
}
#tracksOff {
  background-size: 24px;
  background-image: svg-load('icons/track.svg', fill: rgb(120, 120, 120));
}
#tracksOn {
  background-size: 24px;
  background-image: svg-load('icons/track.svg', fill: rgb(0, 0, 0));
}
#graphOff {
  background-size: 18px;
  background-image: svg-load('icons/graph.svg', fill: rgb(120, 120, 120));
}
#graphOn {
  background-size: 18px;
  background-image: svg-load('icons/graph.svg', fill: rgb(0, 0, 0));
}
#mapIcon {
  background-size: 18px;
  background-image: svg-load('icons/map.svg', fill: rgb(40, 40, 40));
}

.ioeLogoSmall {
  z-index: 1;
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 32px;
  height: 32px;
}
.ioeLogoSmall a {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: svg-load('icons/ioe_logo_small.svg', fill: rgba(255, 255, 255, 0.3));
}

.timeControls {
  flex-wrap: wrap;
  position: absolute;
  bottom: 52px;
  left: 0;
  width: 100%;
  height: 66px;
  padding-bottom: 6px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}
.rsDates {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 50%;
  justify-content: center;
  font-family: 'Courier New', monospace;
}
.rsDate {
  position: relative;
  width: 9%;
  padding: 6px 0;
  text-align: center;
  color: rgb(200, 200, 200);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.rangeSlider {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0 64px 0 62px;
  justify-content: center;
  item-align: center;
}
.sliderTick {
  position: absolute;
  top: 0;
  width: 2px;
  height: 80%;
  background: rgba(80, 80, 80);
  /* box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.4); */
}

.graph {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 124px;
  left: 0;
  width: 100%;
  height: auto;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Courier New', monospace;
}
.gTitleContainer {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.4%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.gTitle {
  position: relative;
  white-space: nowrap;
  color: rgb(200, 200, 200);
  transform: rotate(270deg);
}

.animalList {
  position: absolute;
  top: 60px;
  right: 20px;
  margin: auto;
  padding: 0;
  list-style: none;
  font-family: 'Courier New', monospace;
}
.animalListItem {
  padding: 5px 10px 5px 10px;
  margin: 4px 0;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
