body {
  margin: 0; padding: 0;
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: hidden;
  /* cursor: url('../data/green_dot.png'), auto; */
}

#content {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100%;
  height: 100%;
}

.scaleBar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.zoomButton {
  position: absolute;
  top: 60px;
  left: 20px;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background-color: Transparent;
  color: rgb(80, 80, 80);
  text-shadow: 0 0 20px rgb(255, 255, 255);
}
.mapboxgl-ctrl-attrib-inner a {
  color: inherit;
  text-shadow: inherit;
  font-family: 'Courier New', monospace;
}

.counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-size: 148%;
  font-weight: bold;
}
.counter p {
    margin-bottom: 0;
}

.dataLoadingProgress {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  padding: 10px;
  font-family: 'Courier New', monospace;
}
.dataLoadingProgress p {
    margin: 0;
}
@keyframes blink {
    0% { opacity: 0; }
    20% { opacity: 1; }
    100% { opacity: 0; }
}
.readingData span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-fill-mode: both;
}
.readingData span:nth-child(2) {
    animation-delay: .2s;
}
.readingData span:nth-child(3) {
    animation-delay: .4s;
}

.centerDiv {
  flex-wrap: wrap;
  position: absolute;
  top: 20%;
  width: 100%;
  height: auto;
  justify-content: center;
  font-family: 'Courier New', monospace;
}
.welcomeBox {
  width: 56%;
  height: 100%;
  padding: 20px 24px 60px 24px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.fileInput {
  display: flex;
  position: relative;
  top: 20px;
  width: 100%;
  justify-content: center;
}
input[type='file'] {
  display: none;
}
.customFileInputTxt {
  color: rgb(0, 0, 238);
  text-decoration: underline;
  cursor: pointer;
}
.customFileInputBtn {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: rgb(220, 220, 220);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  background-image: svg-load('icons/upload.svg', fill: rgb(0, 0, 0));
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.ioeLogoBig {
  position: absolute;
  bottom: 0;
  right: 22%;
  width: 120px;
  height: 60px;
}
.ioeLogoBig a {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: svg-load('icons/ioe_logo.svg', fill: rgb(0, 0, 0));
}

.button {
  width: 56px;
  height: 30px;
  padding: 4px;
  margin: 4px 8px;
  border: none;
  border-radius: 4px;
  background: rgb(220, 220, 220);
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Monaco', monospace;
  font-size: 90%;
  cursor: pointer;
}
.button:focus {outline: none;}

.playbackOptions {
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}
#play {
  background-size: 32px;
  background-image: svg-load('icons/play.svg', fill: rgb(40, 40, 40));
}
#pause {
  background-size: 32px;
  background-image: svg-load('icons/pause.svg', fill: rgb(40, 40, 40));
}
#replay {
  background-size: 24px;
  background-image: svg-load('icons/replay.svg', fill: rgb(40, 40, 40));
}
#winOff {
  background-size: 24px;
  background-image: svg-load('icons/window.svg', fill: rgb(120, 120, 120));
}
#winOn {
  background-size: 24px;
  background-image: svg-load('icons/window.svg', fill: rgb(0, 0, 0));
}
#recOff {
  background-size: 24px;
  background-image: svg-load('icons/record.svg', fill: rgb(120, 120, 120));
}
#recOn {
  background-size: 24px;
  background-image: svg-load('icons/record.svg', fill: rgb(255, 0, 0));
}
#markersOff {
  background-size: 18px;
  background-image: svg-load('icons/marker.svg', fill: rgb(120, 120, 120));
}
#markersOn {
  background-size: 18px;
  background-image: svg-load('icons/marker.svg', fill: rgb(0, 0, 0));
}
#tracksOff {
  background-size: 24px;
  background-image: svg-load('icons/track.svg', fill: rgb(120, 120, 120));
}
#tracksOn {
  background-size: 24px;
  background-image: svg-load('icons/track.svg', fill: rgb(0, 0, 0));
}
#graphOff {
  background-size: 18px;
  background-image: svg-load('icons/graph.svg', fill: rgb(120, 120, 120));
}
#graphOn {
  background-size: 18px;
  background-image: svg-load('icons/graph.svg', fill: rgb(0, 0, 0));
}
#mapIcon {
  background-size: 18px;
  background-image: svg-load('icons/map.svg', fill: rgb(40, 40, 40));
}
#helpOn {
  background-size: 24px;
  background-image: svg-load('icons/help.svg', fill: rgb(0, 0, 0));
}
#helpOff {
  background-size: 24px;
  background-image: svg-load('icons/help.svg', fill: rgb(120, 120, 120));
}

.helpDiv {
  flex-wrap: wrap;
  position: absolute;
  top: 8%;
  width: 100%;
  height: 58%;
  justify-content: center;
  font-family: 'Courier New', monospace;
}
.helpText {
  width: 60%;
  height: 98%;
  overflow: auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.ioeLogoSmall {
  z-index: 1;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 32px;
  height: 32px;
}
.ioeLogoSmall a {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: svg-load('icons/ioe_logo_small.svg', fill: rgba(255, 255, 255, 0.4));
}

.timeControls {
  flex-wrap: wrap;
  position: absolute;
  bottom: 52px;
  left: 0;
  width: 100%;
  height: 66px;
  padding-bottom: 6px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
}
.rsDates {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 50%;
  justify-content: center;
  font-family: 'Courier New', monospace;
}
.rsDate {
  position: relative;
  width: 9%;
  padding: 6px 0;
  text-align: center;
  color: rgb(200, 200, 200);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.rangeSlider {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  margin: 0 64px 0 62px;
  justify-content: center;
  item-align: center;
}
.sliderTick {
  position: absolute;
  top: 0;
  width: 2px;
  height: 80%;
  background: rgba(80, 80, 80);
  /* box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.4); */
}

.graph {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 124px;
  left: 0;
  width: 100%;
  height: auto;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Courier New', monospace;
}
.gTitleContainer {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.4%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.gTitle {
  position: relative;
  white-space: nowrap;
  color: rgb(200, 200, 200);
  transform: rotate(270deg);
}

.animalList {
  position: absolute;
  top: 60px;
  right: 20px;
  margin: auto;
  padding: 0;
  list-style: none;
  font-family: 'Courier New', monospace;
}
.animalListItem {
  padding: 5px 10px 5px 10px;
  margin: 4px 0;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
