body {
  margin: 0; padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  overflow: hidden;
}

#map {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.counter {
  position: absolute;
  top: 0;
  left: 20px;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.rangeslider {
  position: absolute;
  bottom: 60px;
  left: 0;
  height: 40px;
  width: 100vw;
}

.graph {
  position: absolute;
  bottom: 100px;
  left: 0;
  height: 140px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 6px 0px 6px;
  /* font-family: Arial, Helvetica, sans-serif; */
}
